@model Honeydew.Models.ToDo

<h2>Create</h2>

<fieldset>
    <div class="container">
        <label for="txtTitle">Title:</label><input id="ToDoTitle" type="text" name="txtTitle"/><br />
        <label for="txtDescription">Description:</label><textarea id="ToDoDescription" type="text" name="txtDescription" /><br />
        <label for="txtHours">How Many Hours Will This Take?</label><input id="ToDoHoursNeeded" type="text" name="txtHours"/><br />
        <label for="txtDue">Due Date:</label><input id="ToDoDueDate" type="text" placeholder="yyyy-mm-dd" name="txtDue"/><br />
        <input id="Submit" type="submit" value="Create"/>
    </div>
</fieldset>

