@model Honeydew.Models.ToDo

<h2>Create</h2>

<div class="container">
    <fieldset>
        <label for="txtTitle">Title:</label><input id="ToDoTitle" type="text" name="txtTitle" /><br />
        <label for="txtDescription">Description:</label><textarea id="ToDoDescription" type="text" name="txtDescription" rows="5" cols="30" /></textarea><br />
        <label for="txtHours">How Many Hours Will This Take?</label><input id="ToDoHoursNeeded" type="number" name="txtHours" /><br />
        <label for="txtDue">Due Date:</label><input id="ToDoDueDate" type="text" placeholder="yyyy-mm-dd" name="txtDue" /><br />
        <div class="buttoncontainer" style:"align-self">
            <input id="Submit" type="submit" value="Create" />
        </div>
    </fieldset>
</div>   
